body {
  min-height: 100vh;
  background: #ABD4DF;
  font: normal 400 130%/1.5 -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

p {
  font: normal 200 100%/1.5 -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  font-weight: 800;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  transition: color .3s ease;
}

a:hover {
  color: #4c81c9;
}

